{% extends "base.html" %}
{% from "navi.html" import navi %}
{% from "mainmenu.html" import mainmenu %}

{% block menu %}
    {{ mainmenu() }}
{% endblock menu %}
<div>
{% block searches %}
    {% include "searches.html" %}
{% endblock searches %}
{% block content %}
    <div class="content-main">
    <h1>Account list</h1>
    {{ navi(url_for('accountlist'), current_page=accountlist.page,
        num_pages=accountlist.total_pages) }}
    <table>
        <tr>
            <th> Name </th> <th> Role </th> <th> Last updated </th> 
        </tr>
    {% for account in accountlist %}
        <tr>
            <td> <a href={{url_for('accounts', account_name=account.name)}}>{{account.name}}</a> </td> <td> {{account.role}} </td> <td> {{account.updated_at}} </td>
        </tr>
    {% endfor %}
    </table>
    </div>
</div>
{% endblock content %}



