{% extends "base.html" %}
{% block title %}<title>Account {{accountview.account.name}}</title>{% endblock %}
{% block searches %}
    {% include "searches.html" %}
{% endblock searches %}
{% block content %}
    <h1>Account {{accountview.account.name}}</h1>
    {% if accountview.account.name %}
        <form action="/accounts/{{accountview.account.name}}" method="POST" class="inlineform">
    {% else %}
        <form action="/accounts/new" method="POST" class="inlineform">
    {% endif %}
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
    {% if accountview.account.name %}
    <div class="inputline">{{ form.name.label(class="lbl") }} {{ accountview.account.name }} 
    <br><a href="/balance/{{accountview.account.name}}">See balance</a></div>
    {% else %}
    <div class="inputline">{{ form.name.label(class="lbl") }} {{ form.name }} </div>
    {% endif %}
    <div class="inputline">{{ form.parent_name.label(class="lbl") }}  {{ form.parent_name }}
    {% for error in form.parent_name.errors %}
        <div class='flash'>
            {{error}}
        </div>
    {% endfor %}
    </div>
    <div class="inputline">{{ form.role.label(class="lbl") }}  {{ form.role }}</div>
    {{form.update}} {{form.addmore}}
    </form>
{% endblock content %}


