{% extends "base.html" %}
{% from "navi.html" import navi %}
{% from "mainmenu.html" import mainmenu %}

{% block menu %}
    {{ mainmenu(account=posting_list.name) }}
{% endblock menu %}

{% block title %}<title> Postings for account {{posting_list.name}} </title> {% endblock %}
{% block searches %}
    {% include "searches.html" %}
{% endblock searches %}
{% block content %}
    <h2>Account {{posting_list.name}} Role {{posting_list.role}}</h2>
    {{ navi(url_for('posts',  account_name=posting_list_name),  current_page=posting_list.page, num_pages=posting_list.total_pages) }}
    <table>
        <tr>
            <th> Amount </th> <th> Debit/credit </th> <th> Journal key </th>
        </tr>
        {% for posting in posting_list.postings %}
        <tr> <td> {{ posting.amount }} </td> <td> {{ posting.debcred }} </td> <td><a href={{url_for('journal', journalkey=posting.extkey)}}> {{ posting.extkey }} </a></td> </tr>
        {% endfor %} {# posting #}
    </table>
{% endblock content %}
