{% extends "base.html" %}
{% block body %}
{% block title %}Index{% endblock %}
{% block content %}
    <h1>Account {{accountview.account.name}}</h1>
    <p>Welcome to the accounts page.</p>
    <form action="/accounts/{{accountview.account.name}}" method="POST">
    {{ form.csrf_token }}
    {% if form.csrf_token.errors %}
        <div class="warning">You have submitted an invalid CSRF token</div>
    {% endif %}
<div>{{ form.name.label }} : {{ form.name }} </div>
<div>{{ form.parent.label }} : {{ form.parent }}</div>
<div>{{ form.role.label }} : {{ form.role }}</div>
{{form.update}}
</form>
{% endblock %}

{% endblock %}

