{% extends "base.html" %}
{% block title %} <title>Postings for journal {{journal_view.extkey}}</title> {% endblock %}
{% block searches %}
    {% include "searches.html" %}
{% endblock searches %}
{% from "mainmenu.html" import mainmenu %}

{% block menu %}
    {{ mainmenu() }}
{% endblock menu %}

  {% block content %}
  {% if journal_view %}
  <h2>Journal : {{journal_view.extkey}}, status {{journal_view.status}}</h2>
  {% endif %}
      <table>
        <tr>
            <th> Account </th> <th> Debit/credit </th> <th> Amount </th> 
        </tr>
  {% if journal_view %}
  {% for posting in journal_view.postings %}
  <tr>
  <td> {{posting.account}} </td> <td> {{posting.debcred}} </td> <td> {{posting.amount}} </td>
  </tr>
  {% endfor %}
  {% endif %}
   </table>
  {% endblock content %}
