{# The navi macro shows the navigation on the web page #}
    {% set first = '\u23EE' -%}
    {% set prev =  '\u23F4'  -%}
    {% set next = '\u23F5' -%}
    {% set last = '\u23ED' -%}
{% macro navi(url, current_page=1, num_pages=1) -%}
    {# how to get to the first page, previous page etc. -#}
    <div class="navi">
    <a href={{ url }}?page=1 > {{first}} </a>
    {%- if current_page > 1 -%}
    <a href={{ url }}?page={{current_page - 1}} > {{prev}} </a>
    {%- else -%}
    {{ prev }}
    {%- endif -%}
    {%- if current_page > 2 -%}
    <a href={{ url }}?page={{current_page - 2}} > {{current_page - 2}} </a>
    {%- endif -%}
    {%- if current_page > 1 -%}
    <a href={{ url }}?page={{current_page - 1}} > {{current_page - 1}} </a>
    {%- endif -%}
     {{current_page}}
    {%- if current_page < num_pages - 1 -%}
    <a href={{ url }}?page={{current_page + 1}} > {{current_page + 1}} </a>
    {%- endif -%}
    {%- if current_page < num_pages - 2 -%}
    <a href={{ url }}?page={{current_page + 2}} > {{current_page + 2}} </a>
    {%- endif -%}
    {%- if current_page < num_pages - 1 -%}
    <a href={{ url }}?page={{current_page + 1}} > {{next}} </a>
    {%- else -%}
    {{ next }}
    {%- endif -%}
    <a href={{ url }}?page={{num_pages}} > {{last}} </a>
    </div>

{%- endmacro %}
