{% extends "base.html" %}
{% from "navi.html" import navi %}
{% from "mainmenu.html" import mainmenu %}

{% block menu %}
    {{ mainmenu() }}
{% endblock menu %}

{% block searches %}
    {% include "searches.html" %}
{% endblock searches %}

{% block content %}
    {{navi(url_for('postmonthlist'), current_page=form.page,
        num_pages=form.total_pages) }}
    Update the months:
    <form action="/postmonthlist" method="post" class="inlineform">
    <ul>
   {% for postmonth in form %}
        <br/><li class="inputline"> {{postmonth[0]}}  <select name="{{postmonth[1]}}">
                                    <option value='a' {% if postmonth[2] == 'a' %} selected {% endif %}>Active</option>
                                    <option value='c' {% if postmonth[2] == 'c' %} selected {% endif %}>Closed</option> 
                                </select></li> 
   {% endfor %}
    </ul>
    <br><br>
    <button type="submit">Update months</button>
    </form>

{% endblock content %}
